<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indicadores.net - @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/google/material-symbols-sharp.css" />
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />  
</head>

<body id="_smooth">
    <div class="bg-image-glass"></div>
    <partial name="_StripColors" />

    <main>
        @RenderBody()
    </main>

    <footer class="footer center glass-dark-20">
        &copy; @DateTime.Now.Year - FRA
        <partial name="_StripColors" />
    </footer>

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/materialize/js/materialize.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>