<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indicadores.net - @ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/lib/google/material-symbols-sharp.css" />
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
</head>

<body id="_smooth" class="bg-color-light">
    <div class="blackboxload">
        <div id="loader" class="row div-center glass-80 z-depth-2">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <main>
        @RenderBody()
    </main>
    <div class="socialmedia">
        <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/fernando-roberto-almeida/"
            target="_blank"><img src="~/svg/linkedin.svg" alt="linkedin" style="width: 28px;"></a>
        <a class="grey-text text-lighten-3" href="#!" target="_blank"><img src="~/svg/instagram.svg"
                style="width: 28px;" alt="instagram"></a>
    </div>
    <div class="footer-map">
        <img class="margin-t-10" src="~/svg/idnet-new.svg" style="width: 38px;" alt="Indicadores.NET">
        <b>indicadores.net</b>
    </div>
    <footer class="page-footer">
        <partial name="_StripColors" />
    </footer>
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/materialize/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();

            $(".segmento_click").click(function () {
                const p = this.dataset.segmento;
                _page_link = p;
                goDirectAPI(`/api/v1/geojson/segmento/` + p);
            });
            $(".cnae_click").click(function () {
                const p = this.dataset.cnae;
                _page_link = p;
                goDirectAPI(`/api/v1/geojson/cnae/` + p);
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>