
    <ul>
        <li class="@NavPages.MapCompaniesNavClass(ViewContext)">
            <a asp-page="/Index" class="@NavPages.MapCompaniesNavClass(ViewContext) submit">Empresas</a>
        </li>
        <li class="@NavPages.MapSetoresNavClass(ViewContext)">
            <a asp-page="/Setores/Index" class="@NavPages.MapSetoresNavClass(ViewContext) submit">Setores</a>
        </li>
    </ul>

