<div id="navmap">
    <ul>
        <li class="@NavPages.MapCompaniesNavClass(ViewContext)">
            <a asp-page="/UF/SP" class="@NavPages.MapCompaniesNavClass(ViewContext)">Empresas</a>
        </li>
        <li class="@NavPages.MapSetoresNavClass(ViewContext)">
            <a asp-page="/Setores/Index" class="@NavPages.MapSetoresNavClass(ViewContext)">Setores</a>
        </li>
    </ul>
</div>
