@using IDN.Services.Municipio.Interfaces;
@using IDN.Services.Municipio.View;
@model NavbarModel;

<div class="navbar">
    <nav class="nav-extended z-depth-0">
        <div class="nav-wrapper transparent">
            <div class="brand-logo"><img src="~/svg/idnet-new.svg" style="height: 45px;"
                    alt="Indicadores.NET">
            </div>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <div class="hide-on-large-only left margin-l-10">@Model.Municipio?.ToUpper()</div>
            <ul class="left hide-on-med-and-down col s6">
                <li><a asp-page="/Index"><i class="material-icons">arrow_back</i></a></li>
                <div class="left margin-l-10">@Model.Municipio?.ToUpper()</div>
            </ul>
            <ul class="right hide-on-med-and-down col s6">
                <li><a asp-page="/Index"><i class="material-icons">home</i></a></li>
                <li><a asp-page="/About"><i class="material-icons">info</i></a></li>
                <li><a asp-page="/Info"><i class="material-icons">help</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a asp-page="/Index"><i class="material-icons">arrow_back</i></a></li>
    <li><a asp-page="/Index"><i class="material-icons">home</i></a></li>
    <li><a asp-page="/About"><i class="material-icons">info</i></a></li>
    <li><a asp-page="/Info"><i class="material-icons">help</i></a></li>
</ul>
