@page "/setores/{m}/{r?}"
@model Setores.DetailsModel
@{
    Layout = "_LayoutMap";
    ViewData["Title"] = "Densidade Empresarial do Estado de SP";
    ViewData["ActivePage"] = Shared.NavPages.MapSetores;
}

<div id="float-container-l" class="w-fc">
    <a class="btn" asp-page="/Setores/Index" title="Voltar"><i class="material-icons">arrow_back</i></a>
</div>

<partial name="_LoadingMap" />

<div class="container-map-charts no-gap">
    <div class="w-50p">
        @{
            await Html.RenderPartialAsync("_Navbar");
        }
        <div id="map" class="map"></div>
    </div>
    <div class="w-50p">
        @{
            await Html.RenderPartialAsync("_Charts", Model.ControlCharts);
        }
    </div>
</div>

<script src="~/osm/geo-api.js" asp-append-version="true"></script>
<script src="~/osm/geo-base.js" asp-append-version="true"></script>
<script src="~/osm/geo-legend-c.js" asp-append-version="true"></script>
<script src="~/osm/geo-style-m-SC.js" asp-append-version="true"></script>
<script src="~/osm/geo-zoomfeature-SC.js" asp-append-version="true"></script>
<script src="~/osm/geo-oneachfeature-SC.js" asp-append-version="true"></script>
<script>
    const i_spanResult = document.getElementById("span_result");
    i_spanResult.textContent = '@Model.Cidade?.ToUpper() - @Model.Cnae';
    _max = @Model.MaxCnae;

    // Carregar dados GeoJSON de uma API
    doMapByDetail('/api/v1/geojson/@Model.GeoCode');

    function handle(e) {
        if (e.keyCode === 13) {
            var v = $("#input-search").val();
            if (v === "")
                return false;

            $(".blackboxload").show();
            $("#loader").show();
        }
    }

</script>
