@page "/maps/{m?}/{zn?}"
@model Pages.Maps.IndexModel

@{
    Layout = "_LayoutMap";
    ViewData["Title"] = "Densidade Empresarial do Estado de SP";
    ViewData["ActivePage"] = Shared.NavPages.MapCompanies;
}

<div id="float-container-l">
    <a class="btn" asp-page="/Index" title="Voltar"><i class="material-icons">arrow_back</i></a>
    @if (Model.Zones_ON)
    {
        <a href="#" data-target="slide-out" class="btn sidenav-trigger"><i class="material-icons">place</i></a>
    }
</div>

<partial name="_LoadingMap" />

<div class="sidenav bg-color-white" id="slide-out">
    <p><a class="rag_click submit btn-link padding-r-10" asp-page="./Index" asp-route-zn="">TODOS</a><i
            class="material-icons left">place</i></p>
    <div class="divider"></div>
    <div id="zones-container"></div>
</div>

@if (Model.Zones_ON)
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function () {
        $.ajax({
            url: '/maps/@Model.GeoCode?handler=Zones&c=@Model.GeoCode',
            method: 'GET',
            success: function (data) {
                $('#zones-container').append(data);
            },
            error: function (xhr, status, error) {
                console.error('Error loading zones:', status, error);
            }
        });
        $(".submit").click(function () {
            $(".blackboxload").show();
            $("#loader").show();
        });
    });
</script>
}

<div class="container-map-charts no-gap">
    <div class="w-40p">
        @{
            await Html.RenderPartialAsync("_Navbar");
        }
        <div id="map" class="map"></div>
    </div>
    <div class="w-60p">
        @{
            await Html.RenderPartialAsync("_Charts", Model.ControlCharts);
        }
    </div>
</div>

<script src="~/osm/geo-base.js" asp-append-version="true"></script>
<script src="~/osm/geo-legend-e.js" asp-append-version="true"></script>
<script src="~/osm/geo-style-e-d.js" asp-append-version="true"></script>
<script src="~/osm/geo-zoomfeature-d.js" asp-append-version="true"></script>
<script src="~/osm/geo-oneachfeature.js" asp-append-version="true"></script>
<script>

    const i_spanResult = document.getElementById("span_result");
    i_spanResult.textContent = '@Model.Cidade?.ToUpper()';

    var loadingMapDiv = document.getElementById('loadingMap');
    loadingMapDiv.classList.add("visible-on");

    // Carregar dados GeoJSON de uma API
    fetch('/api/v1/geojson/@Model.GeoCode')
        .then(response => response.json())
        .then(data => {
            _max = data.max;
            // Adicionar camada GeoJSON ao mapa
            processData(data);
            loadingMapDiv.classList.remove("visible-on");
            loadingMapDiv.classList.add("visible-off");
        })
        .catch(error => console.error('Erro ao carregar dados GeoJSON:', error));

    function handle(e) {
        if (e.keyCode === 13) {
            var v = $("#input-search").val();
            if (v === "")
                return false;

            //const url = '/maps/' + v;
            //location.href = url;
            $(".blackboxload").show();
            $("#loader").show();
        }
    }

</script>
