@page "/maps/sp/{m?}"
@model Pages.Maps.RegionsModel
@{
    Layout = "_LayoutMap";
    ViewData["Title"] = "Densidade Empresarial do Estado de SP";
    ViewData["ActivePage"] = Shared.NavPages.MapCompanies;
}


<div class="container-map-charts">
    <div class="w-45p">
        <div id="map" class="card map"></div>
    </div>
    <div class="w-55p">
        <partial name="_Charts" model="Model.ControlCharts" />
    </div>
</div>

<script src="~/osm/geo-base.js"></script>
<script src="~/osm/geo-legend-e.js"></script>
<script src="~/osm/geo-style-e.js"></script>
<script src="~/osm/geo-oneachfeature.js"></script>
<script>
    const _modelcidade = "@Model.Cidade";
    const spanResult_r = document.getElementById("span_result");
    spanResult_r.textContent = "@Model.Span_Result?.ToUpper()";

    function zoomToFeature(e) {
        //map.fitBounds(e.target.getBounds());        
        var layer = e.target;
        const url = '/maps/sp/@Model.Cidade/' + layer.feature.properties.geocode;
        // Redireciona para a página interna
        location.href = url;
    }

    // Carregar dados GeoJSON de uma API
    fetch('/api/v1/geojson/ram-sp/@Model.Cidade')
        .then(response => response.json())
        .then(data => {
            // Adicionar camada GeoJSON ao mapa
            _max = data.max;
            processData(data);
            $("#loader").hide();
            $(".blackboxload").fadeOut("slow");

        })
        .catch(error => console.error('Erro ao carregar dados GeoJSON:', error));

    function handle(e) {
        if (e.keyCode === 13) {
            var v = $("#input-search").val();
            if (v === "")
                return false;

            const url = '/maps/' + v;
            location.href = url;
        }
    }

</script>

