@page "/about"
@model AboutModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sobre nós!";
}

<header>
    <partial name="_Navg" />
    <partial name="_StripColors" />
</header>

<div class="container-custom">

    <div class="margin-a-20 padding-10">
        <div class="center">
            <img class="margin-t-10 margin-l-10" src="~/svg/idnet-new.svg" alt="Indicadores.NET">
        </div>
    </div>

    <div class="center margin-a-20 padding-10">
        <h4 class="text-color-grey">Indicadores.NET</h4>
    </div>

    <div class="divider"></div>
    <div class="margin-a-20">
        <p class="margin-a-20">
            O portal <strong>INDICADORES.NET</strong> é uma plataforma que fornece dados e informações sobre empresas
            existentes no
            Cadastro
            Nacional de Pessoa Jurídica (CNPJ). O objetivo do portal é facilitar o acesso a informações relevantes
            sobre as
            empresas, tornando-as mais transparentes e competitivas.
        </p>
        <p class="margin-a-20">O portal oferece uma ampla gama de dados e informações, incluindo:</p>
        <ul class="browser-default margin-a-20">
            <li>Número de empresas por município;</li>
            <li>Porte das empresas por município;</li>
            <li>Atividades econômicas das empresas por município;</li>
            <li>Crescimento das empresas por município;</li>
        </ul>
    </div>
    <div class="divider"></div>
    <div class="margin-a-20 margin-b-50">
        <p class="margin-a-20">Esses dados serão uma valiosa ferramenta para uma ampla gama de usuários, incluindo:</p>

        <ul class="browser-default margin-a-20">
            <li>Investidores, que podem usar os dados para avaliar potenciais investimentos;</li>
            <li>Governo, que pode usar os dados para monitorar o desempenho da economia e tomar decisões de
                políticas
                públicas;</li>
        </ul>

        <p class="margin-a-20">O portal INDICADORES.NET é uma plataforma segura e confiável, que está em conformidade
            com as leis e
            regulamentos
            aplicáveis.</p>
        <p class="margin-a-20"> Os dados estatísticos de empresas por município são uma ferramenta poderosa que pode ser
            usada para uma
            variedade de
            propósitos. Os dados são atualizados mensalmente e estão disponíveis gratuitamente para todos os
            usuários.
        </p>
    </div>
</div>