@page "/erro"
@model ErrorModel
@{
    ViewData["Title"] = "Indicadores.net";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<header>
    <partial name="_Navbar" />
</header>

<div class="container-custom">
    <h5>Ocorreu um problema inesperado</h5>

    <p>Lamentamos informar que estamos enfrentando um problema técnico em nosso Webapp no momento. Estamos trabalhando para resolver a situação o mais rápido possível e agradecemos sua paciência.</p>

    <br />
    <h6>Informações Adicionais:</h6>

    <ul>
        @if (Model.ShowRequestId)
        {
            <li>ID: <code>@Model.RequestId</code></li>
        }        
        @* <li>Descrição do Erro: [Insira uma breve descrição do erro, se possível]</li>
        <li>Etapas para Solucionar: [Liste as etapas que o usuário pode tentar para resolver o problema, se aplicável]</li> *@
        <li>Contato: fernando.ralmeida@outlook.com</li>
    </ul>

    <p>Pedimos desculpas por qualquer inconveniente que isso possa causar.</p>

    <p>Agradecemos sua compreensão.</p>
</div>
