@page "/privacy"
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["ActivePage"] = Shared.NavPages.Privacy;
}

<header>
    <partial name="_Navbar" />
</header>
<div class="container-custom">
    <h5 class="margin-t-b-10 center">Política de Privacidade</h5>
    <p class="margin-a-20">
        O Portal Indicadores.NET é uma plataforma que fornece dados e informações sobre empresas existentes no
        CNPJ. O
        objetivo
        do portal é facilitar o acesso a informações relevantes sobre as empresas, tornando-as mais
        transparentes e
        competitivas.
        A privacidade dos usuários do portal é uma prioridade para a equipe do Indicadores.NET. Esta Política de
        Privacidade
        descreve como coletamos, usamos e compartilhamos as informações pessoais dos usuários do portal.
    </p>
    <div class="divider"></div>
    <h6 class="margin-a-20">Coleta de Informações</h6>
    <p class="margin-a-20">O Indicadores.NET coleta informações pessoais dos usuários do portal de várias maneiras,
        incluindo:</p>
    <ul class="browser-default margin-a-20">
        <li>Informações fornecidas pelo usuário: O Indicadores.NET coleta informações pessoais fornecidas pelo usuário
            ao se
            cadastrar no portal, como nome, e-mail, telefone e endereço.</li>
        <li>Informações coletadas automaticamente: O Indicadores.NET coleta informações automaticamente quando o usuário
            visita o
            portal, como endereço IP, tipo de navegador e sistema operacional.</li>
        <li>Informações de terceiros: O Indicadores.NET pode coletar informações pessoais de terceiros, como de empresas
            de
            marketing ou redes sociais.</li>
    </ul>
    <div class="divider"></div>
    <h6 class="margin-a-20">Uso de Informações</h6>

    <p class="margin-a-20">O Indicadores.NET usa as informações pessoais dos usuários para os seguintes propósitos:</p>
    <ul class="browser-default margin-a-20">
        <li>Fornecer os serviços do portal: O Indicadores.NET usa as informações pessoais dos usuários para fornecer os
            serviços do portal, como fornecer dados e informações sobre empresas.
        </li>
        <li>
            Comunicar-se com os usuários: O Indicadores.NET usa as informações pessoais dos usuários para comunicar-se
            com
            eles, como enviar e-mails de marketing ou informações sobre novos produtos e serviços.
        </li>
        <li>
            Melhorar os serviços do portal: O Indicadores.NET usa as informações pessoais dos usuários para melhorar os
            serviços do portal, como desenvolver novos recursos e funcionalidades.
        </li>
    </ul>
    <div class="divider"></div>
    <h6 class="margin-a-20">Compartilhamento de Informações</h6>
    <p class="margin-a-20">O Indicadores.NET pode compartilhar as informações pessoais dos usuários com terceiros para
        os seguintes
        propósitos:
    </p>

    <ul class="browser-default margin-a-20">
        <li>
            Fornecedores de serviços: O Indicadores.NET pode compartilhar as informações pessoais dos usuários com
            fornecedores de serviços que auxiliam no fornecimento dos serviços do portal, como empresas de hospedagem e
            marketing.
        </li>
        <li>
            Autoridades governamentais: O Indicadores.NET pode compartilhar as informações pessoais dos usuários com
            autoridades governamentais quando for necessário para cumprir a lei ou para proteger os direitos do
            Indicadores.NET ou de
            seus usuários.
        </li>
    </ul>
    <div class="divider"></div>
    <h6 class="margin-a-20">Segurança de Informações</h6>
    <p class="margin-a-20">
        O Indicadores.NET toma medidas de segurança para proteger as informações pessoais dos usuários contra acesso não
        autorizado, uso indevido, divulgação, alteração ou destruição. Essas medidas incluem:
    </p>
    <ul class="browser-default margin-a-20">
        <li>
            Acesso restrito: O acesso às informações pessoais dos usuários é restrito aos funcionários do
            Indicadores.NET
            que
            precisam dessas informações para realizar suas tarefas.
        </li>
        <li>
            Tecnologias de segurança: O Indicadores.NET usa tecnologias de segurança, como criptografia, para proteger
            as
            informações pessoais dos usuários.
        </li>
    </ul>
    <div class="divider"></div>
    <h6 class="margin-a-20">Direitos dos Usuários</h6>
    <p class="margin-a-20">
        Os usuários do Indicadores.NET têm os seguintes direitos em relação às suas informações pessoais:
    </p>
    <ul class="browser-default margin-a-20">
        <li>
            Acesso: Os usuários têm o direito de acessar suas informações pessoais e solicitar que sejam corrigidas ou
            excluídas.
        </li>
        <li>
            Retirada do consentimento: Os usuários têm o direito de retirar seu consentimento para o uso de suas
            informações
            pessoais a qualquer momento.
        </li>
        <li>
            Oposição ao tratamento: Os usuários têm o direito de se opor ao tratamento de suas informações pessoais para
            fins de
            marketing direto.
        </li>
        <li>
            Para exercer esses direitos, os usuários podem entrar em contato com o Indicadores.NET por e-mail ou pelo
            formulário de
            contato disponível no portal.
        </li>
    </ul>
    <div class="divider"></div>
    <h6 class="margin-a-20">Alterações na Política de Privacidade</h6>
    <p class="margin-a-20">
        O Indicadores.NET pode atualizar esta Política de Privacidade periodicamente. Os usuários serão notificados de
        quaisquer
        alterações importantes na Política de Privacidade por e-mail ou por meio de uma notificação no portal.
    </p>
    <div class="divider"></div>
    <h6 class="margin-a-20">Contato</h6>

    <p class="margin-a-20">
        Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato com o Indicadores.NET por
        e-mail "fernando.ralmeida@outlook.com".
    </p>
</div>
